<!DOCTYPE html>
<html>

<head>
  <title>Local Chat</title>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Local Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <button id="user-list" class="btn btn-link" onclick="displayUsers()">User List</button>
    </div>
  </nav>

  <div class="modal fade" id="usernameInputModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Local Chat</h5>
        </div>
        <div class="modal-body">
          <form id="usernameInputForm" novalidate>
            <div class="form-group">
              <label id="usernameInputLabel" for="usernameInput">Username</label>
              <input id="usernameInput" class="form-control" required />
              <div class="valid-feedback">Username Valid!</div>
              <div class="invalid-feedback">Invalid Username!</div>
            </div>
            <input type="submit" class="btn btn-primary" value="Enter Chat">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="userListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Online Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ol id="userList" class="list-group list-group-flush"></ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="messages"></div>

  <form id="form" action="">
    <div class="input-group">
      <input id="input" class="form-control" autocomplete="off" />
      <input id="selectFileButton" type="file" class="d-none" oninput="handleUploadButtonLabel()" />
      <div class="input-group-append" role="group">
        <button id="uploadButton" class="btn btn-secondary" type="button" onclick="handleUploadButton()">Upload</button>
        <input class="btn btn-primary" type="submit" value="Send" />
      </div>
    </div>
  </form>

  <div id="toastWrapper">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
      <div class="toast-header">
        <strong class="mr-auto">File Upload</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        <div class="alert alert-success" role="alert">
          File Uploaded!
        </div>
      </div>
    </div>
  </div>

  <script src="/js/jquery.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/index.js"></script>
</body>

</html>