body {
  margin: 0;
  padding: 3.5em 0;
}

#userListModalContent {
  width: 200px;
}

#userListClose {
  display: flex;
  flex-direction: row-reverse;
}

#userList-modal-content {
  display: flex;
}

#user-list {
  margin-left: auto;
  height: 100%;
}

#form {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.hidden {
  display: none;
}

#toastWrapper {
  position: fixed;
  z-index: 5;
  right: 0;
  bottom: 3em;
}

.card-width {
  max-width: 18rem;
}
